.bio {
    width: 700px;
    height: 140px;
    margin-left:  auto;
    margin-right:  auto;
    font-family: Noto sans;
    position: relative;
    
    .author-image {
        overflow: hidden;
        position: absolute;
        top: -50px;
        right: 0;
        width: 100px;
        height: 100px;
        background-image: url(../../../content/assets/profile-image.jpg);
        background-size: 100px 100px;
        background-repeat: no-repeat;
        border-radius: 100px;
    }

    .author-info {
        padding-top: 15px;
        
        .author-name {
            color: black;
            font-size: 30px;
            text-decoration: none;
            box-shadow: none;
        }

        .author-social {
            color: navy;
            font-size: 80%;
            text-decoration: none;
            box-shadow: none;
        }
    }
}