.top {
  // position: relative;
  width: 100%;
  height: 64px;
  background-color: #24292e;
  padding-left: 30px;
  padding-top: 12px;

  .menu {
    width: 35px;
    height: 35px;
    background-image: url(../../../content/assets/menu-icon.png);
    background-size: 35px 35px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0 none;
    opacity: 0.6;
    margin-top: 18px;
    margin-left: 18px;
    cursor: pointer;
  }

  .top-item {
    width: 80%;
    height: 40px;
    // border: 1px solid white;
    padding-left: 10px;
    padding-top: 3px;

    .link {
      display: inline-block;
      font-size: 20px;
      color: #fff;
      opacity: 0.9;
      font-family: 'Noto Sans';
      font-weight: 800;
      text-decoration: none;
      box-shadow: none;
    }
  }
}

// .top-border-bottom {
  // position: sticky;
  // position: -webkit-sticky;
  // top: 0px;
  // height: 8px;
  // background: $theme-gradient;
  // z-index: 2;
// }
